/* Laptop */
@media (max-width : 1366) {
	html {
		font-size: 75%
	}
	.about-section-box img{
		display: block;
	}
}

/* Tablet */
@media (max-width: 768px) {
	html {
		font-size: 62.5%;
	}
}

/* Phone */
@media (max-width: 450px) {
	html {
		font-size: 55%
	}

	.top-navbar .navbar a img:hover {
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	}
}