/* Laptop */
@media (max-width : 1366) {
	html {
		font-size: 75%
	}

	/* .about-section-box img{
		display: block;
	} */
}

/* Tablet */
@media (max-width: 768px) {
	html {
		font-size: 62.5%;
	}

	.top-navbar .navbar a img {
		display: flex;
		margin-left: 5rem;
	}

	.top-navbar .navbar button {
		display: flex;
		margin-right: 5rem;
	}

	.top-navbar #navbarNav .nav-item {
		margin-top: 2rem;
	}

	/* About */
	.about-section-box .inner-column p {
		font-size: 1.8rem;
	}

	.about-section-box .inner-column a, .menu-box a {
		font-size: 2rem;
		margin-top: 2rem;
	}

	.inner-column h1 {
		font-size: 22px;
	}

	/* Menu */
	.menu-box .text-center h1, #customer h1 {
		font-size: 3rem
	}

	.menu-box .text-center p, #customer p {
		font-size: 1.8rem;
	}

	/* Contact Info */
	.contact-info-box .col-md-4 {
		margin-bottom: 15px;
	}

	/* Footer */
	.footer-area .col-lg-3 .f-social {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	/* Halaman Kontak */
	.contact-box .heading-title h2 {
		font-size: 3rem
	}

	.contact-box .heading-title p {
		font-size: 1.8rem;
	}
}

/* Phone */
@media (max-width: 550px) {
	html {
		font-size: 55%
	}

	.top-navbar .navbar a img {
		display: flex;
		margin-left: 5rem;
	}

	.top-navbar .navbar a img:hover {
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	}

	.top-navbar .navbar button {
		display: flex;
		margin-right: 5rem;
	}

	.top-navbar #navbarNav .nav-item {
		margin-top: 2rem;
	}


	#carousel .caraousel-inner img {
		display: flex;
		height: 100px;
		width: 200px;
	}

	/* About */
	.about-section-box .inner-column p, .about-section-box .inner-pt p {
		font-size: 1.8rem;
	}

	.about-section-box .inner-column a, .menu-box a {
		font-size: 2rem;
		margin-top: 2rem;
	}

	.heading-kru h2 {
		font-size: 3rem
	}

	.about-kru .row {
		display: block;
		flex-direction: column;
	}

	/* Qt-background */
	.qt-background p, .qt-background .lead {
		font-size: 3rem;
		color: rgb(255, 255, 255);
	}

	.qt-background p:hover, .qt-background .lead:hover {
		color: #000000;
	}

	/* Menu */
	.menu-box .text-center h1, #customer h1, #menu .text-center h1 {
		font-size: 3rem
	}

	.menu-box .text-center p, #customer p, #menu .text-center p {
		font-size: 1.8rem;
	}

	.menu-box .menu-items {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		gap: 5px;
	}

	#menu .menu-items .menu-item .card {
		/* width: 300px; */
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	.heading-swiper h3 {
		font-size: 3rem
	}

	.heading-swiper p {
		font-size: 1.8rem;
	}

	/* Quotes */

	/* Customer */
	.swiper .swiper-wrapper {
		display: flex;
		width: 20rem;
	}

	/* Contact Info */
	.contact-info-box .col-md-4 {
		margin-bottom: 15px;
		margin-left: 10px;
	}

	.contact-info-box .col-md-4 p {
		font-size: 2rem;
	}

	/* Footer */
	.footer-area .col-lg-3 .f-social {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	/* Halaman Kontak */
	.contact-box .heading-title h2 {
		font-size: 3rem
	}

	.contact-box .heading-title p {
		font-size: 1.5rem;
	}
}